
@{
    ViewBag.Title = "iletisim";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
    <div style="padding-top:5%;" class="container">
      <div class="row">
        
        <div class="col-md-8">
          <h3 class="yazibosluk1"><b>@web_odev3.Resources.HomeTexts.contact1 :</b></h3>
           <h4 class="yazibosluk2"><b>-</b> Alperen Çinkaya - Ahmet Alphan Reel </h4>
            <h3 class="yazibosluk1"><b>@web_odev3.Resources.HomeTexts.contact2 :</b></h3>
            <h4 class="yazibosluk2"><b>-</b> acartimes@gmail.com</h4>
            <h4 class="yazibosluk2"><b>-</b> acartimes@outlook.com</h4>
            <h3 class="yazibosluk3"><b>@web_odev3.Resources.HomeTexts.contact3 :</b></h3>
            <h4 class="yazibosluk2">Sakarya Üniversitesi Esentepe Kampüsü Kemalpaşa Mahallesi Üniversite Caddesi 54050 Serdivan / SAKARYA</h4>
        </div>
          <div class="col-md-4">
              <a href="#">
                  <img class="img-fluid rounded mb-3 mb-md-0" src="~/images/haritaresim.png" alt="">
              </a>
          </div>
      </div>
      <!-- /.row -->

      <hr>
    </div>


